<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.BoardMapper">
    <resultMap id="Board" type="domain.dto.BoardDto">
        <result property="id" column="id"/>
        <result property="member_id" column="member_id"/>
        <result property="title" column="title"/>
        <result property="contents"  column="contents"/>
        <result property="updated_at" column="updated_at"/>
        <result property="created_at" column="created_at"/>
    </resultMap>

    <insert id="createBoard">
        INSERT INTO `boards`(`member_id`, `title`, `contents`)
        VALUES (#{member_id}, #{boardDto.title}, #{boardDto.contents})
    </insert>

    <select id="getBoardToId" resultMap="Board">
        SELECT *
        FROM `boards`
        WHERE `id` = #{id};
    </select>
    
    <update id="updateBoard">
        UPDATE `boards`
        SET `title` = #{title},
            `contents` = #{contents}
        WHERE `id` = #{id};
    </update>
    <delete id="deleteBoard">
        DELETE
        FROM `boards`
        WHERE `id` = #{id};
    </delete>

</mapper>