<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.MemberMapper">

    <insert id = "join">
        INSERT INTO 'members'('name', 'password', 'nickName', 'email',age,sex,'phoneNumber','isDeleted','created_at','updated_at','salt')
        VALUES (#{memberEntity.name}, #{memberEntity.password}, #{memberEntity.nickName}, #{memberEntity.email},
                #{memberEntity.age}, #{memberEntity.sex},#{memberEntity.phoneNumber},
                #{memberEntity.isDeleted},#{memberEntity.created_at},#{memberEntity.updated_at},#{memberEntity.salt})
    </insert>
    <update id="setSalt">
        UPDATE `account`
        SET `salt` = #{salt}
        WHERE `uid` = #{uid}
    </update>


</mapper>
