<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.MemberMapper">

    <insert id = "join">
        INSERT INTO members('name', 'password', 'nickName', 'email',age,sex,'phoneNumber')
        VALUES (#{member.name}, #{member.password}, #{member.nickName}, #{member.email},
                #{member.age}, #{member.sex},#{member.phoneNumber})
    </insert>


</mapper>
